<div class="row" *ngIf="member">
  <div class="col-2" *ngFor="let photo of member.photos">
    <img src="{{ photo.url }}" alt="photo of user" class="img-thumbnail mb-1" />
    <div class="text-center">
      <button
        class="btn sm"
        [disabled]="photo.isMain"
        (click)="setMainPhoto(photo)"
        [ngClass]="photo.isMain ? 'btn-success active' : 'btn-outline-success'"
      >
        Main
      </button>
      <button
        class="btn btn-sm btn-danger ms-1"
        (click)="deletePhoto(photo.id)"
        [disabled]="photo.isMain"
      >
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
<div class="mx-auto">
  <div class="container mt-4 mb-4 col">
    <div>
      <label for="formFile" class="btn btn-primary" role="button">
        <span class="fs-5 text-lg">Upload your file here</span>
        <input
          #event
          class="d-none"
          (change)="fileUploading(event)"
          type="file"
          id="formFile"
        />
      </label>
    </div>

    <div *ngIf="file">
      <p>
        {{ file.name }}
      </p>
    </div>
    <button (click)="uploadFile()" class="btn btn-secondary">save file</button>
  </div>

  <div class="text-center" *ngIf="img">
    <img class="rounded mx-auto d-block" src="{{ img }}" />
  </div>
</div>
